-e .[async_files,aiohttp,httpx,pycurl,requests]

# Stub packages
types-aiofiles
types-requests
types-pycurl

# Tests
pytest==8.2.2
pytest-mock==3.14.0
anyio==4.4.0
starlette==0.37.2
uvicorn==0.30.1

# Linting
mypy==1.10.1
ruff==0.5.0

# Packaging
build==1.2.1
twine==5.1.1

# Documentation requirements are listed in docs/requirements.txt
