-e .[async-files,aiohttp,httpx,pycurl,requests]

# Stub packages
types-aiofiles
types-requests
types-pycurl

# Tests
pytest==8.3.4
pytest-mock==3.14.0
pytest-cov==5.0.0
anyio==4.5.2
starlette==0.44.0
uvicorn==0.33.0

# Linting
mypy==1.14.1
ruff==0.9.4

# Packaging
build==1.2.2
twine==6.1.0

# Documentation requirements are listed in docs/requirements.txt
